body {
    background-color: #f0f0f0; /* 薄いグレー */
}

.attendance__container {
    display: flex;
    flex-direction: column;
    align-items: center;        /* 水平方向中央 */
    justify-content: center;    /* 垂直方向中央 */
    height: 90vh;              /* 画面全体を使う */
    background-color: #f3f3f3;  /* 背景グレー */
    text-align: center;
    padding: 20px;
}

.attendance__status {
    margin-bottom: 10px; 
    font-weight: bold;
    padding: 6px 24px;               /* 内側余白 */
    background-color:rgb(203, 202, 202);        /* 薄いグレー背景 */
    color: #444;                      /* 濃いグレー文字 */
    text-align: center;               /* 中央揃え */
    border-radius: 30px;              /* 丸み（左右丸） */
    display: inline-block;            /* コンテンツ幅に合わせて中央配置 */
    font-size: 13px;
}

.attendance__buttons form {
    margin: 0 20px 0 20px;          /* ボタンの間隔 */
}

.start_buttons,
.end_buttons {
    width: 100px;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    background-color: #222;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.break_start_buttons,
.break_end_buttons{
    width: 100px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    color: #222;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
}

.attendance__buttons button:hover {
    color: #888;  
}
