.mypage {
    max-width: 1000px;
    margin: 0 auto;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 50px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.username {
    font-weight: bold;
    margin-left: 50px;
    font-size: 20px;
}

.edit-button {
    margin-left: auto;
    border: 1px solid red;
    padding: 5px 10px;
    color: red;
    text-decoration: none;
    border-radius: 5px;
}

.tabs {
    margin-left: 50px;
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tabs .active {
    color: red;
    font-weight: bold;
}

.items-grid {
    display: flex;
    flex-wrap: wrap;

  }
  
  .item-card {
    width: 200px;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  
  .item-card img {
    width: 200px;
    height: auto;
    object-fit: cover;
  }
  
  .item-card p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  .item-image-wrapper {
    position: relative;
}

  .sold-triangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 60px solid rgba(255, 0, 0, 0.85);
      /* 三角形の色とサイズ */
      border-right: 60px solid transparent;
      /* 透明部分で三角形を作る */
      z-index: 2;
  }

  .sold-text {
      position: absolute;
      top: 5px;
      left: -5px;
      transform: rotate(-45deg);
      color: white;
      font-weight: bold;
      font-size: 12px;
      z-index: 3;
      width: 80px;
      text-align: center;
      pointer-events: none;
  }
