.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__label--item{
    font-weight: bold;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #a8a8a8;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 70px;
}

.form__button-submit {
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background:rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: medium;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.login__button-submit {
    text-decoration: none;
}

.profile-image-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-file-upload {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    transition: background-color 0.3s;
    width: 160px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 8px;
}

.custom-file-upload:hover {
    background-color: #e04d4d;
}

input[type="file"] {
    display: none;
}

.file-name {
    margin-top: 5px;
    color: #555;
    font-size: 14px;
}