.sell-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    /* border: 1px solid #ddd;
    border-radius: 8px; */
    background-color: #fff;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-subtitle-label {
    font-size: 20px;
    font-weight: bold;
    color: #666;
}

.hr-gray {
    color: #ccc;
    margin: 0px 0 20px 0;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    text-align: center;
}

.submit-btn {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #e04d4d;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
}

/* ラジオボタン非表示 */
.category-checkbox {
    display: none;
}

/* ラベルをボタン風に */
.category-button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 14px;
}

/* 選択されているときのスタイル */
.category-checkbox:checked + .category-button {
    background-color: #e04d4d;
    color: white;
    border-color: #e04d4d;
}


.price-input {
    display: flex;
    align-items: center;
    gap: 6px;
}

.price-input input {
    font-size: 20px; /* お好きな大きさに調整できます */
    padding: 8px;
}

.price-input .yen {
    font-size: 25px;
    color: #555;
}

.custom-file-upload {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    transition: background-color 0.3s;
    width: 50%;
    cursor: pointer;
    text-align: center;
}

.custom-file-upload:hover {
    background-color:#e04d4d;
}

input[type="file"] {
    display: none;
}